## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Asheville,US,-82.5540,35.6009,67.98,91,1,3.44,clear sky
1,1,Avarua,CK,-159.7750,-21.2078,75.25,83,75,6.91,light rain
2,2,Klaksvík,FO,-6.5890,62.2266,49.12,84,100,21.74,overcast clouds
3,3,Leningradskiy,RU,178.4167,69.3833,20.98,72,13,8.90,few clouds
4,4,Busselton,AU,115.3333,-33.6500,58.05,47,29,14.07,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Avarua,CK,-159.7750,-21.2078,75.25,83,75,6.91,light rain
5,5,Hurghada,EG,33.8129,27.2574,77.04,41,0,11.50,clear sky
7,7,Redlands,US,-117.1825,34.0556,88.32,20,2,0.25,clear sky
16,16,Ribeira Grande,PT,-28.7000,38.5167,71.56,89,95,10.36,overcast clouds
19,19,Makkah al Mukarramah,SA,39.8261,21.4267,84.56,37,78,5.44,broken clouds
22,22,Butaritari,KI,172.7902,3.0707,82.15,68,23,18.25,few clouds
23,23,Rikitea,PF,-134.9692,-23.1203,73.47,65,0,19.84,clear sky
24,24,São Filipe,CV,-24.4956,14.8961,79.54,81,71,8.86,broken clouds
30,30,Atar,MR,-13.0499,20.5169,88.20,26,50,3.13,scattered clouds
31,31,Kapaa,US,-159.3190,22.0752,84.18,69,90,4.00,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                313
City                   313
Country                313
Longitude              313
Latitude               313
Max Temp               313
Humidity               313
Cloudiness             313
Wind Speed             313
Current Description    313
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Longitude,Latitude,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Avarua,CK,-159.7750,-21.2078,75.25,83,75,6.91,light rain
5,5,Hurghada,EG,33.8129,27.2574,77.04,41,0,11.50,clear sky
7,7,Redlands,US,-117.1825,34.0556,88.32,20,2,0.25,clear sky
16,16,Ribeira Grande,PT,-28.7000,38.5167,71.56,89,95,10.36,overcast clouds
19,19,Makkah al Mukarramah,SA,39.8261,21.4267,84.56,37,78,5.44,broken clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,Esim,GH,-2.2405,4.8699,76.03,90,66,5.68,broken clouds
705,705,San Quintín,MX,-115.9500,30.4833,75.04,53,77,4.92,broken clouds
706,706,Impfondo,CG,18.0667,1.6381,70.00,96,100,1.48,overcast clouds
707,707,Vāsudevanallūr,IN,77.4167,9.2333,80.24,78,48,1.52,scattered clouds
709,709,Mocuba,MZ,36.9856,-16.8392,77.41,48,1,4.72,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Latitude", "Longitude"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
1,Avarua,CK,75.25,light rain,-21.2078,-159.7750,
5,Hurghada,EG,77.04,clear sky,27.2574,33.8129,
7,Redlands,US,88.32,clear sky,34.0556,-117.1825,
16,Ribeira Grande,PT,71.56,overcast clouds,38.5167,-28.7000,
19,Makkah al Mukarramah,SA,84.56,broken clouds,21.4267,39.8261,
22,Butaritari,KI,82.15,few clouds,3.0707,172.7902,
23,Rikitea,PF,73.47,clear sky,-23.1203,-134.9692,
24,São Filipe,CV,79.54,broken clouds,14.8961,-24.4956,
30,Atar,MR,88.20,scattered clouds,20.5169,-13.0499,
31,Kapaa,US,84.18,light rain,22.0752,-159.3190,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Latitude,Longitude,Hotel Name
1,Avarua,CK,75.25,light rain,-21.2078,-159.7750,Paradise Inn
5,Hurghada,EG,77.04,clear sky,27.2574,33.8129,Sea Star Beau Rivage Hotel
7,Redlands,US,88.32,clear sky,34.0556,-117.1825,Dynasty Suites Redlands
16,Ribeira Grande,PT,71.56,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
19,Makkah al Mukarramah,SA,84.56,broken clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
22,Butaritari,KI,82.15,few clouds,3.0707,172.7902,Isles Sunset Lodge
23,Rikitea,PF,73.47,clear sky,-23.1203,-134.9692,People ThankYou
24,São Filipe,CV,79.54,broken clouds,14.8961,-24.4956,Hotel Xaguate
30,Atar,MR,88.20,scattered clouds,20.5169,-13.0499,Oumou Elghoura
31,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [10]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Latitude", "Longitude"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))